.breadrumb {
   text-align: right;
   padding: 1rem;
	font-size: 1rem;

	a {
		color: #555;
		text-decoration: underline;
	}
}

.drak {
	background-color: #201836;
	color: #ddd;

	a {
		color: #ddd;
	}

	a:hover {
		color: #ddd;
	}
}