$background: #47475C;
$mainColor: #5749ad;
$highlightColor: #59F14F;
$aColor: #333;
$ahoverColor: #90ef7f;
$aBlockColor: #000;
$highcharts: #61BC7B;
$highstock: #508CC8;
$highmaps: #F49952;

:root {
	--header-height: 68px;
	--footer-height: 335px;
	--scroll-margin-top: calc(var(--header-height) + 1rem);
}

a,
a code {
  color: $aColor;
  // text-decoration: underline;
}

a:hover,
a:focus,
a code:hover {
  color: $aBlockColor;
  text-decoration: none;
  outline: none;
}



.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}


h1 {
  font-size: 3rem;
  font-weight: 100;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin: 0 0 1rem;
}

.nodata {
  text-align: center;
  color: red;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.modal-content {
  border-radius: 0;
}

.modal-dialog {
  margin-top: 200px;
}

.full-width {
  width: 100%;
  max-width: unset;
  .row {
    margin: 0;
  }
  .container {
    width: 100%;
  }
}

.container.full-width {
  padding: 0;
}

.no-data {
  margin: 30px 0;
  padding: 30px 0;
  color: red;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

// base 

.bg-white-conrners {
  background-color: #fff;
  border-radius: 5px;
}

.p-2 {
  padding: 2rem;
}

.m-t-2 {
  margin-top: 2rem;
}

.m-b-4 {
  margin-bottom: 4rem;
}

.list-m-b {
  li {
    margin-bottom: 1rem;
    li {
      margin-bottom: unset;
    }
  }
}

.half-width {
  width: 50%;
}

.toast-top-right {
  top: 100px;
}

.section-title {
  margin: 5rem 0 2rem 0;
}

img {
  max-width: 100%;
}

.highcharts-contextmenu hr {
  margin: 6px 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.placeholder {
  height: 100px;
  width: 100%;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}




html {
  font-size: 16px;
}

body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   box-sizing: border-box;
   font-family: "Helvetica", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti,
     "Microsoft YaHei";
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
	line-height: 1.5;
  //  padding-top: 50px;
   background-color: #f0f0f0;
   min-width: 300px;
   width: 100%;
   overflow-x: hidden;

  
   &.full-body {
     height: 100%;
     overflow: hidden;
   }
 }

 
//  .box-container {
//    padding-top: 50px;
//    margin-bottom: 30px;
//    .box-header,
//    .box-header > a {
//      font-size: 38px;
//      color: #787d88;
//      i {
//        transition: 0.3s ease-in-out;
//        padding-left: 2px;
//      }
//      &:hover {
//        color: $ahoverColor;
//        i {
//          padding-left: 10px;
//        }
//      }
//    }
//    .box-content {
//      p {
//        font-size: 14px;
//        line-height: 1.5;
//      }
//      .button-row {
//        margin-top: 30px;
//        a {
//          color: #fff;
//          margin-right: 25px;
//          &:hover,
//          &:focus {
//            color: rgba(255, 255, 255, 0.8);
//          }
//        }
//      }
//    }
//  }
 
 .btn {
   border-radius: 2px;
   color: #fff;
   font-size: 1rem;
   &:hover,
   &:focus {
     color: #fff;
     outline: none;
     opacity: 0.85;
     outline: none;
     border-color: initial;
   }
   &.active {
    opacity: 0.85;
   }
 }
 
 .btn-default {
   color: #333;
   &:hover,
   &:focus {
     color: $mainColor;
   }
 }

 .bgWhite {
   background-color: #fff;
 }
 
 .my-tooltip {
   cursor: help;
   &:after {
     content: "[?]";
     color: $mainColor;
     font-size: 12px;
     font-weight: normal;
     position: relative;
     top: -6px;
     left: 4px;
   }
 }
 
 .btn-theme {
   background-color: $mainColor;
   border-color: $mainColor;
   color: #fff;
   &:hover {
    opacity: 0.85;
   }
 }
 
 .popover {
   max-width: 600px;
   border-radius: 3px;
 }
 
 .datatable {
   margin: 20px 0;
   th {
     text-align: left;
   }
   th,
   td {
     border: 1px solid silver;
     padding: 6px 14px;
   }
   thead {
     background-color: #eee;
   }
 }
 
 .pricetable {
   thead {
     background: #eee;
     th {
       text-align: center;
     }
   }
   td {
     text-align: center;
   }
   td,
   th {
     padding: 10px 20px;
     a {
       font-size: 14px;
       line-height: 1.5;
     }
   }
   .yes {
     color: green;
     font-family: 微软雅黑;
     font-weight: 900;
     font-size: 16px;
     position: absolute;
     margin-top: -10px;
     margin-left: -5px;
   }
   .no {
     color: red;
   }
   .highcharts {
     border-bottom: 1px solid $highcharts;
   }
   .highstock {
     border-bottom: 1px solid $highstock;
   }
   .highmaps {
     border-bottom: 1px solid $highmaps;
   }
   td.price {
     text-align: right;
   }
   td.support-td {
     text-align: left;
     padding: 20px 0 20px 50px;
     line-height: 2;
   }
 }
 
 .table-additional {
   text-align: center;
   .table-add-title {
     color: red;
   }
   .table-add-content {
     p {
       font-size: 14px !important;
       line-height: 1.5 !important;
     }
   }
 }
 
 .table {
   margin: 20px 0;
   border-bottom: 1px solid #ddd;
   tbody tr,
   thead tr {
     td {
       vertical-align: middle;
     }
   }
   .td-title {
     font-weight: bold;
   }
 }
 
 /** css sprite */
 
 .sprite {
   background-image: url("/images/index.png");
   display: inline-block;
   vertical-align: middle;
   &.wechat {
     width: 100px;
     height: 100px;
     background-position: 0 0;
     border: 1px solid #ccc;
   }
   &.qun {
     width: 90px;
     height: 22px;
     background-position: 0 -100px;
   }
   &.qq {
     width: 92px;
     height: 22px;
     background-position: 0 -122px;
   }
 }
 
 
//  .hljs {
//    margin: 10px 0;
//    border: none;
//    background-color: #f5f5f5;
//  }
 
//  .hljs-comment,
//  .hljs-quote {
//    color: #888;
//    font-style: normal;
//  }
 
//  .full-body .online-service {
//    display: none;
//  }
 
//  .tag-list {
//    padding: 0;
//    margin: 0;
//    list-style: none;
//    li {
//      display: inline-block;
//      cursor: pointer;
//      font-size: 13px !important;
//      margin: 0 4px;
//    }
//    li:hover,
//    li.active {
//      color: $mainColor;
//    }
//  }
 
//  // endbower
//  .images-show {
//    .images-show-wrapper {
//      overflow: hidden;
//      position: relative;
//      background-image: url("/images/bg-fallback-optim.jpg");
//      background-size: cover;
//      background-position: center;
//      height: calc(100vh - 50px);
//    }
//    .images-video {
//      height: auto;
//      width: 100%;
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translate(-50%, -50%);
//    }
//    .images-cover {
//      background-color: #1b1b2b;
//      opacity: 0.6;
//      position: absolute;
//      top: 0;
//      left: 0;
//      bottom: 0;
//      right: 0;
//      width: 100%;
//      height: 100%;
//    }
//    .images-body {
//      position: absolute;
//      width: 100%;
//      text-align: center;
//      height: 120px;
//      line-height: 1;
//      top: 0;
//      bottom: 0;
//      margin: auto;
//      color: #fff;
//    }
//    .images-logo {
//      margin-top: -9%;
//      img {
//        width: 250px;
//      }
//    }
//    .images-title {
//      margin: 20px 0 40px;
//      font-weight: normal;
//      font-size: 40px;
//    }
//    .imsage-subtitle {
//      font-size: 20px;
//      margin: 30px 0 50px;
//      color: rgba(255, 255, 255, 0.8);
//    }
//    .button-row {
//      margin-top: 50px;
//      font-weight: bold;
//      .btn {
//        font-size: 16px;
//        padding: 8px 20px;
//      }
//    }
//    .images-arrow {
//      position: absolute;
//      bottom: 20px;
//      left: 0;
//      right: 0;
//      margin: auto;
//      opacity: 0.4;
//      color: #fff;
//      text-align: center;
//      font-size: 25px;
//    }
//    .news {
//      color: #fff;
//      display: none;
//      background-color: rgba(58, 58, 79, 0.6);
//      width: 100%;
//      position: absolute;
//      bottom: 0;
//      padding: 8px 0;
//      height: 36px;
//      overflow: hidden;
//      text-align: center;
//      ul {
//        padding-left: 0;
//        margin-bottom: 0;
//        list-style: none;
//        li {
//          display: inline-block;
//          padding: 0 20px;
//        }
//      }
//      a {
//        color: #fff;
//        &:hover {
//          color: $ahoverColor;
//        }
//      }
//    }
//  }
 
//  .clients-show {
//    text-align: center;
//    padding: 80px 40px;
//    .clients-list {
//      list-style: none;
//      padding-left: 0;
//      li {
//        display: inline-block;
//        padding: 20px;
//        img {
//          max-height: 30px;
//          filter: gray;
//          -webkit-filter: grayscale(100%);
//          -moz-transition: all 0.3s ease-in-out;
//          -webkit-transition: all 0.3s ease-in-out;
//          transition: all 0.3s ease-in-out;
//          &:hover {
//            filter: none;
//            -webkit-filter: grayscale(0%);
//          }
//        }
//      }
//    }
//    a.link {
//      background-color: #8085e8;
//      padding: 5px 10px;
//      color: #fff;
//      &:hover {
//        background-color: #f49952;
//      }
//    }
//  }
 
//  .demo-show {
//    overflow: hidden;
//    .demo-box {
//      position: relative;
//      min-height: 700px;
//      color: white;
//      &:after {
//        position: absolute;
//        content: " ";
//        width: 100%;
//        height: 100%;
//      }
//      .button-row {
//        font-size: 16px;
//      }
//      .box-container p:nth-child(1) {
//        margin-top: 20px;
//      }
//    }
//    .demo-box .box-header,
//    .demo-box .box-header > a,
//    .demo-box .box-header > a > i,
//    .demo-box .box-content .button-row a {
//      color: #fff;
//    }
//    .demo-frame-container {
//      margin-bottom: 10px;
//      overflow: hidden;
//      text-align: center;
//    }
//    #highcharts-demo-box:after,
//    #highmaps-demo-box:after {
//      left: -100%;
//    }
//    #highstock-demo-box:after,
//    #highcloud-demo-box:after {
//      right: -100%;
//    }
//    #highcharts-demo-box {
//      background-color: #61bc7b;
//      &:after {
//        background-color: #61bc7b;
//      }
//    }
//    #highstock-demo-box {
//      background-color: #508cc8;
//      &:after {
//        background-color: #508cc8;
//      }
//    }
//    #highmaps-demo-box {
//      background-color: #f49952;
//      &:after {
//        background-color: #f49952;
//      }
//    }
//    #highcloud-demo-box {
//      background-color: #9c9edb;
//      &:after {
//        background-color: #9c9edb;
//      }
//    }
//  }
 
//  .testimonial {
//    text-align: center;
//    background-color: #eee;
//    padding: 60px 0;
//    color: #6b74a0;
//    .testimonial-body {
//      width: 90%;
//      margin: auto;
//      margin-bottom: 30px;
//      font-size: 15px;
//    }
//    .author {
//      font-weight: bold;
//    }
//    .author-logo-container {
//      width: 160px;
//      margin: auto;
//    }
//  }
 
//  .feature {
//    .box-container:first-child {
//      margin-top: 60px;
//    }
//  }
 
// 
 
//  .product-list {
//    position: relative;
//    background: none;
//    a {
//      color: #fff;
//      padding: 10px 0;
//      text-align: center;
//      font-weight: bold;
//      text-transform: uppercase;
//    }
//    #hc-item {
//      background-color: #8dd4a2;
//    }
//    #hs-item {
//      background-color: #72ace3;
//    }
//    #hm-item {
//      background-color: #f7a35c;
//    }
//    #hcc-item {
//      background-color: #a1a3df;
//    }
//    &:before {
//      content: " ";
//      position: absolute;
//      width: 50%;
//      height: 100%;
//      background-color: #8dd4a2;
//      left: 0;
//      top: 0;
//      z-index: -1;
//    }
//    &:after {
//      content: " ";
//      position: absolute;
//      width: 50%;
//      height: 100%;
//      background-color: #a1a3df;
//      right: 0;
//      top: 0;
//      z-index: -1;
//    }
//  }
 
//  .card {
//    display: inline-block;
//    vertical-align: top;
//    box-sizing: border-box;
//    margin-bottom: 30px;
//    h2 {
//      margin: 0.83em 0 !important;
//      a {
//        font-size: 0.8em;
//        font-weight: bold;
//      }
//      i {
//        font-size: 0.6em;
//        font-weight: normal;
//      }
//    }
//  }
 
//  .card-item {
//    border: 1px solid #ddd;
//    margin-bottom: 20px;
//  }
 
//  .card-item .card-header {
//    background: #eaeaf1;
//    padding: 20px 10px;
//    text-align: center;
//    font-weight: bold;
//    color: #656279;
//  }
 
//  .card-body {
//    padding: 15px;
//    font-size: 13px;
//  }
 
//  .boxHolder .card {
//    width: 100%;
//  }
 
//  .card.horizontal-card .card-image,
//  .card.horizontal-card .card-header {
//    height: 100%;
//    width: 20%;
//    box-sizing: border-box;
//    position: absolute;
//    padding: 0;
//  }
 
//  .card.horizontal-card .card-item {
//    position: relative;
//  }
 
//  .card.horizontal-card .card-body {
//    width: 100%;
//    padding-left: 25%;
//    box-sizing: border-box;
//  }
 
//  .card.horizontal-card .card-header .card-icon {
//    width: 100%;
//    height: 100%;
//    position: relative;
//    overflow: hidden;
//  }
 
//  .card.horizontal-card .card-header .card-icon:before {
//    font-family: "fontAwesome";
//    font-size: 50px;
//    height: 50px;
//    position: absolute;
//    text-align: center;
//    width: 100%;
//    vertical-align: middle;
//    line-height: 100%;
//    bottom: 0;
//    top: 0;
//    right: 0;
//    margin: auto;
//    color: #f2f2f2;
//  }
 
//  .card-body p.extra-secondary-info {
//    background-color: #e7e7e7;
//    padding: 10px;
//    font-size: 12px !important;
//  }
 
//  .card-section {
//    padding: 10px 20px;
//    h5 {
//      font-size: 1.2em !important;
//      font-weight: bold;
//      line-height: 1.5;
//    }
//  }
//  .card-footer {
//    background-color: #f7f7f7;
//    border-top: 1px solid #ddd;
//    padding: 1em 0;
//    .btn {
//      margin: 0.8em 0.5em;
//      font-weight: bold;
//      background-color: #6eb33d;
//      border-radius: 4px;
//      padding: 6px 20px;
//      border: none;
//      border-color: #529125;
//      color: #fff;
//      box-shadow: 0 2px 0 #529125;
 
//      &:hover {
//        background-color: #529125;
//      }
//    }
//  }
 
//  .extra-secondary-info .number {
//    font-weight: 900;
//  }
 
//  #support {
//    padding-top: 50px;
//  }
 
//  #support .card {
//    margin-bottom: 40px;
//    width: 100%;
//  }
 
//  #hc-forum .card-header .card-icon {
//    background-color: #a860f9;
//    &:before {
//      content: "\f0e6";
//    }
//  }
 
//  #direct-contact .card-header .card-icon {
//    background-color: #3465c1;
//    &:before {
//      content: "\f1d6";
//    }
//  }
 
//  #hc-support .card-header .card-icon {
//    background-color: #ea4c89;
//    &:before {
//      content: "\f1cd";
//    }
//  }
 
//  #qun .card-header .card-icon {
//    background-color: #f7941e;
//    &:before {
//      content: "\f1d6";
//    }
//  }
 
//  #qun {
//    dd {
//      font-size: 12px;
//    }
//    .card-body {
//      position: relative;
//    }
//    .qun {
//      position: relative;
//      left: 10px;
//      top: -1px;
//    }
//  }
 
//  #support-side-bar .content-title:first-child {
//    margin-top: 10px;
//  }
 
//  #support-side-bar .content-body p {
//    font-size: 14px;
//  }
 
//  .wrapper {
//    .card-body {
//      overflow: hidden;
//      padding: 0 10px;
//    }
//    .card-header h4 {
//      margin: 10px;
//    }
//    .api-wrapper {
//      .card-header {
//        background-color: #61bc7b;
//        color: #fff;
//      }
//      .card-body {
//        border: 2px solid #61bc7b;
//      }
//    }
//    .application-wrapper {
//      .card-header {
//        background-color: #dd470c;
//        color: #fff;
//      }
//      .card-body {
//        border: 2px solid #dd470c;
//      }
//    }
//    .export-server {
//      .card-header {
//        background-color: #77758c;
//        color: #fff;
//      }
//      .card-body {
//        border: 2px solid #77758c;
//      }
//    }
//  }
 
//  .wrapper-list {
//    padding-left: 0;
//  }
 
//  .wrapper-normal {
//    padding-left: 10px;
//    list-style: none;
//    li {
//      border-bottom: 1px solid #ccc;
//      margin: 0 -25px;
//      padding: 5px 20px;
//      font-size: 1em !important;
//    }
//    li:last-child {
//      border: none;
//    }
//  }
 
//  .wrapper-show {
//    list-style: none;
//    background-color: #f5f5f5;
//    padding: 15px;
//    margin: 5px;
//    box-shadow: inset -20px 0 30px white;
//    a {
//      font-weight: bold;
//    }
//    img {
//      max-height: 45px;
//      margin: -10px;
//      float: right;
//    }
//  }
 
 /*.side-bar .content:first-child {
     margin-top: 10px;
 }*/
 
//  #qun-qrcode {
//    position: absolute;
//    right: 10px;
//    top: 10px;
//  }
 
//  #github .card-header .card-icon {
//    background-color: #165a86;
//    &:before {
//      content: "\f09b";
//    }
//  }
 
//  input[type="text"],
//  input[type="password"],
//  textarea {
//    border: 1px solid #888;
//    padding: 2px 5px;
//    margin: 2px 0;
//    width: 100%;
//    font-size: 13px;
//    transition: background-color 0.2s;
//    -moz-transition: background-color 0.2s;
//    -webkit-transition: background-color 0.2s;
//    -o-transition: background-color 0.2s;
//    border-radius: 2px;
//    -moz-border-radius: 2px;
//    -webkit-border-radius: 2px;
//    outline: none;
//  }
 
//  fieldset li label {
//    font-size: 13px;
//    text-align: left;
//    margin-top: 5px;
//    margin: 0 10px 5px 0;
//    line-height: 17px;
//    color: #333;
//    font-weight: normal;
//  }
 
//  .main {
//   //  padding: 30px 0;
//   //  background-color: #eeeaea;
//    .container {
//      background-color: #fff;
//      min-height: calc(100vh - 151px);
//    }
//    .main-header {
//      text-align: center;
//      padding: 2rem 0;
//     //  margin-bottom: 30px;
//     //  padding: 30px 100px;
//     //  background-color: #eeeeff;
//    }
 
//    .page-title {
//      margin: 50px 0;
//    }
//    .page-divider {
//      margin: 40px 0;
//      width: 100%;
//      border-bottom: 1px dotted #ccc;
//    }
//    h2 {
//      margin: 1.6em 0;
//      font-size: 1.6em;
//    }
//    h3 {
//      margin: 30px 0 20px;
//    }
//    h4 {
//      font-weight: 600;
//      margin: 30px 0 20px;
//    }
 
 
//    .subscription-news {
//      padding: 0;
//      padding-top: 10px;
//      border-top: 1px solid #eee;
//      text-align: center;
//      list-style: none;
//      margin: 0;
//      li {
//        padding: 3px 10px;
//        display: inline-block;
//      }
//    }
 
//    .product-buttons {
//      padding: 30px 0;
//      a {
//        font-size: 14px;
//        font-weight: bold;
//        padding: 8px 20px;
//        margin: 6px;
//        background-color: #90ef7f;
//        color: #555;
//        border-color: #90ef7f;
//        display: inline-block;
//        width: 100%;
//        max-width: 200px;
//        &:hover {
//          color: #fff;
//          background-color: #71db5f;
//        }
//      }
//    }
//    .product-buttons-sm {
//      a {
//        max-width: 150px;
//      }
//    }
//    #subscription-card {
//      ul {
//        list-style: none;
//        padding: 0;
//      }
//      .btn {
//        width: 100%;
//        margin: 10px 0;
//        background-color: #738fc6;
//        &:hover {
//          background-color: #647dad;
//          color: #fff;
//        }
//      }
//      .form-msg {
//        color: red;
//        margin-bottom: 10px;
//      }
//    }
 
//    .features {
//      list-style: none;
//      padding: 0;
//      li {
//        min-height: 140px;
//      }
//      h4 {
//        clear: both;
//        padding-top: 1em;
//      }
//      img {
//        margin: 0 15px 5px 0;
//        box-shadow: 0 1px 3px #aaa;
//        border: 1px solid silver;
//        max-width: 164px;
//      }
//      img.float-left {
//        margin-right: 2em;
//      }
//      img.float-right {
//        margin-left: 2em;
//      }
//    }
  
//    .breadcrumbs {
//      margin: -30px -15px 20px;
//      background: #efeff3;
//      padding: 6px 20px;
//      a {
//        font-size: 12px;
//        line-height: 1.5;
//      }
//    }
//    ul.follow-us {
//      list-style: none;
//      padding-left: 10px;
//    }
//    .main-comments {
//      margin-top: 40px;
//      #SOHUCS #SOHU_MAIN .module-cmt-footer .section-service-w {
//        display: none !important;
//      }
//    }
//    .friend-links {
//      list-style: none;
//      padding-left: 0;
//      margin-bottom: 30px;
//      text-align: center;
//      li {
//        display: inline-block;
//        margin: 6px 10px;
//        a {
//          color: #333;
//          &:hover {
//            color: $ahoverColor;
//          }
//        }
//        img {
//          max-height: 70px;
//          max-width: 300px;
//          /*filter: gray;*/
//          /*-webkit-filter: grayscale(100%);
//          -webkit-transition: all 0.3s ease-in-out;
//          transition: all 0.3s ease-in-out;
//          &:hover {
//            filter: none;
//            -webkit-filter: grayscale(0%);
//          }*/
//        }
//      }
//    }
//    .friend-links-more {
//      margin: 100px auto 0 auto;
//      max-width: 600px;
//      p {
//        /*
//        font-size: 13px;*/
//      }
//      img {
//        max-height: 70px;
//      }
//    }
//    .parter {
//      margin-top: 40px;
//      li img {
//        padding: 10px 10px;
//        border: 1px solid #ccc;
//        border-radius: 3px;
//      }
//    }
//    .btn-group {
//      a {
//        font-size: 14px;
//        line-height: inherit;
//      }
//    }
//  }
 
//  .full-body .main {
//    padding: 0;
//  }
 
 
 
//  // about
//  .logos-show {
//    padding: 0;
//    margin: 0 30px;
//    border: 1px solid #ddd;
//    overflow: hidden;
//    list-style: none;
//    li {
//      padding: 10px;
//      position: relative;
//      margin: 0;
//      &:hover > div > .logo-types {
//        display: block;
//      }
//      border-bottom: 1px solid #aaa;
//    }
//    li:last-child {
//      border-bottom: none;
//    }
//    .black {
//      background-color: $background;
//      color: #fff;
//      a {
//        color: #fff;
//        &:hover {
//          color: $ahoverColor;
//        }
//      }
//    }
//    img {
//      max-height: 100px;
//    }
//    .big img {
//      margin: 30px 0;
//    }
//    .logo-types {
//      float: right;
//      font-size: 12px !important;
//      a {
//        margin: 0 5px;
//        line-height: 100px;
//      }
//    }
//  }
 
//  // License
//  .main-search {
//    margin-top: 20px;
//    .main-search-wrapper {
//      width: auto;
//      padding: 30px 0 10px;
//      max-width: 800px;
//      margin: 30px auto;
//      border-radius: 5px;
//    }
//    input.search-input {
//      font-size: 14px;
//      padding: 10px 10px;
//      max-width: 500px;
//      margin-right: -4px;
//      &:hover,
//      &:focus {
//        outline: none;
//      }
//    }
//    .search-btn {
//      padding: 10px 20px;
//      border-radius: 0;
//      margin: 0 -2px;
//      position: relative;
//      top: -1px;
//      &.btn-default {
//        border-radius: 0 2px 2px 0;
//      }
//    }
//    ul {
//      list-style: none;
//      padding: 0;
//      margin: 0;
//      li {
//        display: inline-block;
//        margin: 6px;
//      }
//    }
//  }
 
//  .document-options {
//    //float: left;
//    margin: 20px -30px;
//    position: relative;
//    .btn {
//      padding: 6px 30px;
//    }
//  }
 
//  .document {
//    padding: 40px;
//    position: relative;
//    background-color: #fff;
//    .logos {
//      margin-bottom: 60px;
//    }
//    .document-wrapper {
//      max-width: 800px;
//      min-height: 600px;
//      margin: 0 auto;
//    }
//    .detail {
//      border: 1px dashed #ccc;
//      padding: 20px;
//      margin: 60px 0;
//      ul {
//        margin: 0;
//        padding: 0;
//        list-style: none;
//        .tit {
//          display: inline-block;
//          width: 80px;
//          float: left;
//        }
//        .cont {
//          float: left;
//          max-width: 280px;
//        }
//      }
//    }
//    .price {
//      text-align: right;
//    }
//    .table {
//      border: 1px solid #ccc;
//      border-left: none;
//      border-right: none;
//      max-width: 800px;
//      margin: 0 auto;
//    }
//    .qrcode {
//      width: 120px;
//      text-align: center;
//      position: relative;
//      top: 5px;
//      p {
//        font-size: 12px;
//        margin-bottom: 0;
//      }
//    }
//    .remark {
//      margin: 20px 100px;
//      p {
//        font-size: 12px;
//      }
//    }
//    .footer {
//      max-width: 800px;
//      margin: 0 auto;
//      p,
//      address {
//        font-size: 12px;
//        color: #555;
//        line-height: 1.7;
//        margin-bottom: 0;
//      }
//      .qrcode {
//        margin-top: -28px;
//      }
//    }
//  }
 
//  /**
//   * reset
//   */
 
//  .text-center th {
//    text-align: center !important;
//  }
 
//  .table-options {
//    i {
//      cursor: pointer;
//      &:hover {
//        color: $mainColor;
//      }
//    }
//  }
 
//  h4.modal-title {
//    font-weight: normal;
//    margin: 0;
//    font-size: 14px;
//  }
 
//  .modal-dialog {
//    .modal-body {
//      padding: 15px 30px;
//    }
//    input.single {
//      margin: 10px 0;
//      padding: 6px 10px;
//      outline: none;
//      background-color: #eee;
//      &:focus {
//        border-color: $mainColor;
//      }
//    }
//    .modal-message {
//      color: red;
//      margin: 5px 0;
//      font-size: 12px;
//    }
//  }
 
//  .modal-md {
//    max-width: 400px;
//  }
 
//  #remark-modal {
//    .modal-content {
//      width: 500px;
//      margin: 0 auto;
//      .half {
//        width: 80%;
//        display: inline-block;
//      }
//    }
//  }
 
//  #address-modal {
//    .half.form-control.tax {
//      width: 40%;
//    }
//  }
 
//  .shop-header .half.productSingle {
//    width: 80%;
//  }
 
//  .select {
//    font-weight: 500;
//  }
 
//  .modal-open #order-log-modal.modal {
//    overflow-x: hidden;
//    overflow-y: auto;
//  }
 
//  #order-log-modal .modal-content {
//    width: 60%;
//    margin: 0 auto;
//  }
 
 /*
  *  ================================== Shop start
  */
 
//  .price {
//    text-align: right;
//  }
 
//  .shop-item {
//    overflow: hidden;
//  }
 
//  .shop-cart {
//    position: relative;
//  }
 
//  .cart-count {
//    position: absolute;
//    top: -0.5em;
//    right: 0;
//    background-color: #db3434;
//    color: #fff;
//    font-size: 12px;
//    width: 1.5em;
//    height: 1.5em;
//    display: inline-block;
//    line-height: 1.5em;
//    text-align: center;
//    border-radius: 50%;
//  }
 
//  .support-table {
//    thead th {
//      padding: 1.5em;
//      font-size: 1.1em;
//    }
//    tbody > tr > td {
//      padding: 0.8em;
//    }
//  }
 
//  .shop-cart-table {
//    box-shadow: 0 1px 1px #e0e0e0;
//    margin: 2em 0;
//    tbody > tr > td,
//    thead > tr > th {
//      padding: 1em;
//    }
//    thead > tr > th {
//      border: inherit;
//      border-bottom: 2px solid #ddd;
//      font-size: 1em;
//    }
//    tbody > tr > td {
//      border: inherit;
//      border-top: 1px solid #ddd;
//    }
//    .table-footer {
//      background-color: #f5f5f5;
//    }
//    h5.license-title {
//      font-weight: bold;
//      font-size: 1em;
//      line-height: 1.1;
//    }
//    .td-options {
//      .fa {
//        margin-right: 5px;
//      }
//    }
//    small {
//      color: #888;
//    }
//  }
 
//  .process-order {
//    font-weight: bold;
//    padding: 0.5em 3em;
//    background-color: #6eb33d;
//    box-shadow: 0 2px 0 #529125;
//    &:hover,
//    &:focus {
//      background-color: #529125;
//      color: #fff;
//    }
//  }
 
//  .message {
//    color: #fd631e;
//    margin-top: 1em;
//    font-size: 12px !important;
//    font-weight: bold;
//  }
 
//  p.process-info {
//    font-size: 1em;
//    margin-top: 1em;
//    a {
//      color: #fd631e;
//    }
//  }
 
//  .empty-cart {
//    margin: 2em;
//  }
 
//  .shop-header {
//    input,
//    select,
//    textarea {
//      background-color: #f4f4f4;
//      border-radius: 0;
//      border: none;
//      border-bottom: 2px solid #ddd;
//      padding: 6px 12px;
//      outline: none;
//      position: relative;
//      &:focus {
//        border-color: $mainColor;
//        outline: none;
//        box-shadow: none;
//      }
//      &.warning {
//        border-color: #fd631e;
//      }
//      &.error {
//        border-color: red;
//      }
//    }
 
//    .navigation {
//      font-size: 14px;
//      margin-top: 2em;
//      margin-bottom: -2em;
//    }
//    .full {
//      width: 100%;
//    }
//    .half {
//      width: 49%;
//      display: inline-block;
//    }
//    .third {
//      width: 32.7%;
//      display: inline-block;
//    }
//    .half-right {
//      margin-left: 1%;
//    }
//    textarea {
//      resize: vertical;
//      min-height: 80px;
//    }
//    .paymethods {
//      list-style: none;
//      padding: 0;
//      li {
//        // display: inline-block;
//        margin: 0 10px;
//      }
//    }
//    input[type="checkbox"] {
//      position: relative;
//      top: 2px;
//    }
//    .order-detail-operator {
//      padding: 20px 40px;
//    }
//    .address-list {
//      padding: 0 0 20px 20px;
//      border-bottom: 1px solid #ddd;
//      .title,
//      .cont {
//        float: left;
//      }
//      p {
//        font-size: 1em;
//        line-height: 1.2;
//      }
//      .options {
//        margin-top: 20px;
//        a {
//          color: #555;
//          font-size: 0.8em;
//          margin-left: 10px;
//          &:hover {
//            color: $ahoverColor;
//          }
//        }
//      }
//    }
//    .filter-box {
//      border-top: 1px solid #ccc;
//      padding: 30px 20px;
//      input {
//        display: inline-block;
//        width: 60%;
//        position: relative;
//        top: -3px;
//        padding: 10px 20px;
//      }
//      select {
//        padding: 10px;
//      }
//      .btn {
//        padding: 9px 20px;
//        position: relative;
//        top: -2px;
//      }
//    }
//    .modal-btns {
//      margin-top: 30px;
//    }
//    .tit {
//      width: 74px;
//      font-size: 1em;
//      line-height: 1.2;
//      padding: 0;
//    }
//    .cont {
//      padding: 0;
//      width: calc(100% - 74px);
//    }
//    .select-form {
//      p {
//        margin-bottom: 0;
//        margin-left: 1em;
//      }
//      p > label {
//        font-weight: normal;
//        cursor: pointer;
//      }
//    }
//    .order-logs {
//      padding: 0;
//      list-style: none;
//      margin-top: 1em;
//      li {
//        position: relative;
//        border-left: 2px solid #57b95f;
//        padding: 0 0 10px 14px;
//        font-size: 12px;
 
//        &:before {
//          content: " ";
//          position: absolute;
//          width: 12px;
//          height: 12px;
//          border-radius: 50%;
//          background-color: #57b95f;
//          left: -7px;
//        }
//        span {
//          position: relative;
//          top: -1px;
//          font-weight: bold;
//        }
//        p {
//          margin: 6px 0;
//          color: #555;
//        }
 
//        &:last-child {
//          border-left: none;
//          padding-bottom: 0;
//          &:before {
//            left: -5px;
//          }
//        }
//      }
//    }
//    table {
//      .success {
//        color: green;
//      }
 
//      .highlight {
//        color: #fd631e;
//      }
//      .warning {
//        color: #ce2d2d;
//      }
//      .info {
//        color: #7c82ff;
//      }
//    }
//  }
 
//  /**
//   * download
//   */
 
//  #settings {
//    padding: 2em 0;
//    clear: both;
//  }
 
//  .item-page .container .row h2 {
//    margin: 2em 0;
//    color: #777;
//  }
 
//  #builder-info {
//    clear: left;
//    width: 55%;
//    display: none;
//    border-bottom: 8px solid #8085e8 !important;
//  }
 
//  div.comp-group {
//    display: block;
//    margin: 0;
//    float: left;
//    width: 100%;
//    border-bottom: 1px dotted #c9c5c5;
 
//    h3 {
//      margin: 0.5em 0;
//      font-size: 1.2em;
//      font-weight: bold;
//    }
//  }
 
//  div.comp-group div.description {
//    position: relative;
//    float: left;
//    width: 30%;
//  }
 
//  div.comp-group div.description p {
//    width: 95%;
//    color: #636060;
//    font-size: 14px;
//  }
 
//  div.components-container {
//    float: right;
//    position: relative;
//    width: 65%;
//  }
 
//  div.component {
//    width: 100%;
//    margin: 10px 0;
//    float: left;
 
//    label {
//      display: block;
//    }
//  }
 
//  div.component input {
//    float: left;
//  }
 
//  span.title {
//    width: 25%;
//    float: left;
//    padding-left: 10px;
//    font-weight: 600;
//  }
 
//  span.description {
//    width: 50%;
//    float: left;
//    margin-left: 30px;
//    font-size: 14px;
//    color: #636060;
//  }
 
//  .button {
//    font-size: 14px;
//    font-weight: bold;
//    padding: 8px 20px;
//    margin: 0 6px;
//    background-color: #90ef7f;
//    color: #555;
//    border: 1px solid #90ef7f;
//    display: inline-block;
//    width: 100%;
//    max-width: 200px;
//    outline: none;
 
//    &:hover {
//      color: #fff;
//      background-color: #71db5f;
//    }
//  }
 
//  /**
//   * end download
//   */
 
//  .tab-content {
//    padding: 20px;
//    img {
//      margin: 20px auto;
//    }
//    li {
//      line-height: 2;
//    }
//  }
 
//  .fp-section {
//    position: relative;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box;
//  }
 
//  .fp-section.fp-table,
//  .fp-slide.fp-table {
//    display: table;
//    table-layout: fixed;
//    width: 100%;
//  }
 
//  #highcharts-item {
//    background-color: #74c88c;
//    background-image: url("/images/shop/hc-slide.jpg");
//  }
 
//  #highstock-item {
//    background-color: #508cc8;
//    background-image: url("/images/shop/hs-slide.jpg");
//  }
 
//  #highmaps-item {
//    background-color: #f3ba4c;
//    background-image: url("/images/shop/hm-slide.jpg");
//  }
 
//  #highcharts-gant-item {
//    background-color: #1f8ee0;
//    background-image: url("/images/shop/hg-slide.jpg");
//  }
 
//  #highchartscloud-item {
//    background-color: #cba7ef;
//    background-image: url("/images/shop/hcc-slide.jpg");
//  }
 
//  #fullpage .shop-item {
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-position: center;
//  }
 
//  .fp-tableCell {
//    display: table-cell;
//    vertical-align: middle;
//    width: 100%;
//    height: 100%;
//  }
 
//  .shop-item .hero-text-container,
//  .shop-item .hero-image-container {
//    opacity: 0;
//    transition: opacity 0.2s linear;
//    -webkit-transition: opacity 0.2s linear;
//    -moz-transition: opacity 0.2s linear;
//    -ms-transition: opacity 0.2s linear;
//  }
 
//  .shop-item.active .hero-text-container,
//  .shop-item.active .hero-image-container {
//    opacity: 1;
//  }
 
//  /*admin  order                        */
 
//  .btn {
//    a.admin-order-a {
//      color: white;
//    }
//  }
 
//  #basic-modal {
//    .form-group .half {
//      width: 40%;
//      display: inline-block;
//    }
//  }
 
//  .order-product {
//    .text-right {
//      text-align: right;
//    }
//  }
 
//  /**
//    * end shop
//    */
 
//  .hero-text-container {
//    width: 35%;
//    margin: 0 0 0 10%;
//    font-size: 15px;
//    line-height: 1.8;
//    font-weight: bold;
//    & > h1 {
//      color: #fff;
//      font-weight: bold;
//    }
//    .hero-text-body {
//      color: #fff;
//      margin: 20px 0 30px 0;
//      font-size: 15px;
//    }
//  }
 
//  .hero-button-container .btn {
//    font-size: 15px;
//    letter-spacing: 3px;
//    font-weight: bold;
//    padding: 8px 18px;
//    transition: all 0.3s ease-in-out;
//    -webkit-transition: all 0.3s ease-in-out;
//    -moz-transition: all 0.3s ease-in-out;
//    -ms-transition: all 0.3s ease-in-out;
//    &.btn-pripary {
//      background-color: white;
//      color: #333;
//      &:hover {
//        background-color: rgba(255, 255, 255, 0.8);
//      }
//    }
//    &.btn-secondary {
//      margin-left: 5px;
//      &:hover {
//        background-color: white;
//        border-color: white;
//        color: #333;
//      }
//    }
//  }
 
//  .hero-image-container {
//    width: 55%;
//    height: auto;
//    position: absolute;
//    bottom: 13%;
//    right: -10%;
//    img {
//      width: 100%;
//    }
//  }
 
//  .user-case {
//    // margin: 30px 0;
//    //
//    .products-list {
//      li {
//        text-transform: capitalize;
//      }
//    }
//  }
 
//  .user-case-header {
//    margin: 30px 0;
//    text-align: center;
//    h1 {
//      font-size: 25px;
//      margin: 30px 0;
//    }
//    input {
//      max-width: 500px;
//      padding: 7px 10px;
//      display: inline-block;
//      outline: none;
//      &:hover,
//      &:focus {
//        border-color: $mainColor;
//      }
//    }
//  }
 
//  .user-case-content {
//    padding: 0;
//    margin: 30px 0;
//    .mix {
//      display: none;
//      width: 33%;
//      margin-bottom: 5px;
//      list-style: none;
//      background-color: #252530;
//      padding: 10px;
//      min-height: 100px;
//      a {
//        transition: color 0.2s;
//        position: relative;
//        display: block;
//        overflow-x: hidden;
//        .thumb {
//          max-width: 300px;
//          max-height: 150px;
//          cursor: pointer;
//          opacity: 0.5;
//          transition: opacity 0.2s;
//        }
//        img.logo {
//          background-color: #fff;
//          position: absolute;
//          max-width: 50%;
//          top: 10%;
//          left: 0;
//          transition: left 0.3s, opacity 0.3s;
//        }
//        &:hover img.logo {
//          left: -55%;
//          opacity: 0;
//        }
//        img.thumb:hover {
//          opacity: 1;
//        }
//      }
//    }
//  }
 
//  #user-case-empty {
//    text-align: center;
//    color: red;
//  }
 

.btn-download {
  background-color: $mainColor;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.btn-buy {
  background-color: #00766f;
  padding: 0.5rem 1rem;
  font-weight: bold;
}