
.changelog-header {
   h2 {
      margin: 1.6em 0;
      font-size: 2rem;
   }
}

.release-header a {
   color: #555;
   font-size: 1.5rem;
}

.changelog-container {
   position: relative;
   padding-left: 60px;

   p,
   li {
      line-height: 2;
   }

   &:before {
      content: " ";
      position: absolute;
      left: 28px;
      height: 100%;
      width: 4px;
      background-color: #555;
      top: 20px;
   }

   &>p {
      position: relative;
      font-weight: 700;
      color: #555;

      &:before {
         content: " ";
         position: absolute;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         background-color: #555;
         left: -42px;
         top: 10px;
      }
   }

   h4.panel-title {
      margin: 0;
      font-weight: bold;

      a {
         font-size: 14px;

         &:focus {
            color: #000;
         }
      }
   }
}