.docs {
   min-height: calc(100vh - var(--header-height));
   position: relative;
   background-color: #fff;
   display: flex;

   .sidebar {

      width: 20rem;
      background-color: #fff;
      border-right: 1px solid #eee;

      .menu {
         height: 100vh;
         position: sticky;
         top: 0;
         overflow-y: hidden;

         &>li {
            border-bottom: none;
         }

         &:hover {
            overflow-y: auto;
         }

         margin-bottom: 0;

         // li.active li.active a {
         //    border-right: 5px solid $mainColor;
         // }

         li li a {
            padding-left: 2rem;
         }
      }
   }

   .docs-content {
      flex-grow: 1;
      padding: 2rem 0;
      line-height: 1.5;

      h1 {
         font-size: 2.5rem;
         margin-bottom: 2rem;
         margin-top: 0;
      }

      h2 {
         font-size: 2rem;
         margin: 2rem 0 1rem 0;
      }

      h2,
      h3,
      h4 {
         scroll-margin-top: var(--scroll-margin-top)
      }

      li {
         line-height: 2;
      }

      a {
         // border-bottom: 1px solid transparent;
         color: #424bcd;

         &:hover {
            // color: $highlightColor;
            // text-decoration: underline;
				// border-bottom-color: #424bcd;
         }

         // &:hover {
         //    border-bottom-style: solid;
         // }
      }

      table {
         border: 1px solid #ddd;
         margin-bottom: 2rem;

         td,
         th {
            padding: 0.5rem 1rem;
            border: 1px solid #ddd
         }

         th {
            background-color: #eee;
         }
      }

      img {
         // max-width: 600px;
         // border: 1px solid #eee;
         border: 1px solid #fff;

         &:hover {
            border-color: #eee;
         }
      }

      pre {
         margin-bottom: 1rem;
         border: none;
         box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
         border-radius: 0.3rem;
         padding: 1rem;
      }

   }

   .toc {
      position: fixed;
      padding: 1rem 0;
      border-left: 1px solid #ddd;
      top: var(--header-height);
      margin-top: 5rem;
      font-size: 0.8rem;

      ul {
         padding: 0;
         margin: 0;
      }

      li {
         list-style: none;
         padding: 0.2rem 1rem
      }

      li.title-3 {
         padding-left: 2rem;
      }

      li.title-4 {
         padding-left: 3rem;
      }

      a {
         border: none;
         color: #555;

         &:hover {
            border: none;
            color: #424bcd;
         }
      }
   }

   .doc-nav {
      margin-top: 4rem;
      display: flex;

      div {
         flex: 1 50%;
         max-width: 50%;

         svg {
            width: 1rem;
            height: 1rem;
            line-height: 2;
            position: relative;
            top: 2px;
            margin: 0 5px;
            color: #888;
         }

         span {
            color: #888;
         }

         h5 {
            font-size: 1.2rem;
         }
      }

		a {
			color: #333;
			display: inline-block;
			border-bottom: none;
			&:hover {
				color: #424bcd;
			}
		}
   }

   .doc-nav-next {
      text-align: right;
      margin-left: 2rem;
	
   }

   // // .page {}

   // // // background-color: #eeeaea;
   // // .container {
   // //    min-height: unset;
   // //    // min-height: calc(100vh - 151px);
   // //    position: relative;
   // //    padding: 0;
   // //    background: none;
   // // }

   // .sidebar-eq {
   //    padding: 20px 40px;
   //    background-color: #fff;
   // }

   // .sidebar .nav-sidebar li>ul a {
   //    color: #555;
   // }


   // .sidebar .nav-sidebar li>ul a:hover {
   //    background: none;
   //    color: #333;
   // }


   // .sidebar .nav-sidebar li>ul li.active a:after {
   //    border-right-color: #fff;
   // }

   // .sidebar .nav-sidebar>li div {
   //    background: none;
   //    border: none;
   //    color: #333;
   // }

   // .main-navigator {
   //    margin: 40px 0 0;
   //    border-top: 1px dotted #ccc;
   //    padding: 20px 0;

   //    .btn {
   //       margin: 0 6px;
   //       padding: 6px 40px;
   //       border-radius: 0;
   //    }
   // }

   // .main-comments {
   //    margin: -40px 0 40px 0;
   //    border-top: none;
   // }

   // .main-comments:before {
   //    content: "";
   // }

   // .docs-header {
   //    margin-bottom: 40px;
   // }

   // h1 {
   //    margin: 1rem 0 2rem 0;
   //    font-size: 2em;
   // }

   // h2 {
   //    font-size: 1.5rem;
   //    margin: 0;
   //    margin: 1em 0;
   //    border-bottom: 1px solid #ddd;
   //    padding-bottom: 0.5em;
   // }

   // h3 {
   //    font-size: 1.3em;
   //    font-weight: bold;
   // }

   // h4 {
   //    font-size: 1.1em;
   //    margin: 1.2em 0;
   // }

   // .docs-content {
   //    font-size: 1rem;

   //    p,
   //    li {
   //       line-height: 1.8;
   //    }
   // }

   // blockquote,
   // blockquote p {
   //    font-size: 14px;
   // }

   // blockquote {
   //    background-color: #dff0d8;
   //    color: #3c763d;
   //    border-left: 5px solid #3c763d;
   // }

   // .img {
   //    max-width: 600px;
   //    border: 1px solid #ccc;
   //    margin: 20px 0;
   //    border-radius: 3px;
   // }

   // code,
   // pre {
   //    background-color: #f5f5f5;
   //    border: none;
   // }

   // .docs-nav {
   //    text-align: right;
   // }

   // .blog-post {
   //    h4 {
   //       margin-top: 0;
   //    }

   //    ul {
   //       padding-left: 20px;
   //    }
   // }

   // .docs-menu {
   //    display: none;
   //    position: fixed;
   //    max-width: 200px;
   //    font-size: 12px;
   //    top: 80px;
   //    overflow: hidden;
   //    font-weight: bold;

   //    .menu-sub {
   //       margin: 0 6px;
   //       font-weight: normal;
   //    }

   //    li {
   //       float: none;
   //    }

   //    a {
   //       font-size: 12px;
   //       color: #888;
   //       padding: 6px 0;
   //       display: block;
   //       width: 100%;
   //    }

   //    .active a,
   //    a:hover {
   //       color: $mainColor;
   //       background: none;
   //    }

   //    .docs-menu-title {
   //       cursor: pointer;
   //       padding: 10px;
   //    }

   //    .docs-menu-content {
   //       border-top: 1px solid #ccc;
   //       padding: 10px;
   //       margin-bottom: 10px;
   //    }

   //    .docs-menu-extra {
   //       text-align: center;
   //       margin: 0 10px;

   //       p {
   //          font-weight: normal;
   //          margin-top: 10px;
   //       }
   //    }
   // }

   // iframe {
   //    border: 1px solid #ccc;
   // }

   // .custom-table {
   //    border-top: 1px solid #ccc;

   //    th {
   //       min-width: 100px;
   //       vertical-align: top;
   //    }

   //    td {
   //       text-align: center;
   //    }

   //    .split-header {
   //       position: relative;
   //       vertical-align: bottom;

   //       span {
   //          position: absolute;
   //          right: 5px;
   //          top: 5px;
   //       }
   //    }
   // }
}


// changelog

.changelog-header {
   h2 {
      margin: 1.6em 0;
      font-size: 2rem;
   }
}

.release-header a {
   color: #555;
   font-size: 1.5rem;
}

.changelog-container {
   position: relative;
   padding-left: 60px;

   p,
   li {
      line-height: 2;
   }

   &:before {
      content: " ";
      position: absolute;
      left: 28px;
      height: 100%;
      width: 4px;
      background-color: #555;
      top: 20px;
   }

   &>p {
      position: relative;
      font-weight: 700;
      color: #555;

      &:before {
         content: " ";
         position: absolute;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         background-color: #555;
         left: -42px;
         top: 10px;
      }
   }

   h4.panel-title {
      margin: 0;
      font-weight: bold;

      a {
         font-size: 14px;

         &:focus {
            color: #000;
         }
      }
   }
}

// roadmap 
.roadmap-content {
   h2 {
      margin: 0 0 2rem;
   }
}